<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>

    <!--<add name="DefaultDBConnection" connectionString="Server=10.156.62.53;Database=DHPO_FAZEEL; user ID=fshaikh; Password=fshaikh@2016;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultDBConnection" connectionString="Server=10.162.176.206;Database=IQServiceDesk_Prod; user ID=fshaikh; Password=Dell@900;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultDBConnection" connectionString="Server=10.162.176.206;Database=CCIS; user ID=fshaikh; Password=Dell@900;" providerName="System.Data.SqlClient" />


  </connectionStrings>

  <system.web>
    
      
        
    <authentication mode="Forms">
      <forms defaultUrl="~/UIComponents/CallerInformation.aspx" loginUrl="~/UIComponents/User/Login.aspx" slidingExpiration="true" timeout="900">

      </forms>
    </authentication>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" executionTimeout="3600" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>

    <sessionState customProvider="DefaultSessionProvider" mode="InProc" stateNetworkTimeout="900" timeout="900">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>

  </system.web>
  <system.webServer>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
      
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>


      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>-->

      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>-->

      <!--<dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>-->

      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->

      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>

    <!--  SMTP Configurations -->
    <add key="SMTPSendEmail" value="1" />
    <add key="SMTPPort" value="587" />

    <!--<add key="SMTPCOnnectionServer" value="smtp.gmail.com" />
    <add key="SMTPUsername" value="QAJira@dimensions-healthcare.com" />
    <add key="SMTPPassword" value="$erviceJira@2017" />
    <add key="SMTPMailFrom" value="QAJira@dimensions-healthcare.com" />

    <add key="SMTPMailFrom" value="fansari@dimensions-healthcare.com" />
    <add key="SMTPUsername" value="fansari@dimensions-healthcare.com" />
    <add key="SMTPPassword" value="cHEmiSTRY18IMS" />-->

    <add key="SMTPMailFrom" value="qajira@dimensions-healthcare.net" />
    <add key="SMTPUsername" value="qajira@dimensions-healthcare.net" />
    <add key="SMTPPassword" value="$erviceJira@2017" />
    <add key="SMTPCOnnectionServer" value="Zmail.dimensions-healthcare.net" />
    
    
    <add key="SMTPMailTo" value="techsupport@dimensions-healthcare.com" />

    <!--Email Keys-->
    <add key="CC_Gorup" value="DLI-PPGL2ProdTech@imshealth.com" />
    <add key="SLA_EmailTemplateCategory" value="SLA_Trigger_Email" />
    <add key="Email_TemplateID" value="1" />
    <add key="Email_FollowUp_TemplateID" value="2" />
    <add key="SupportEmail" value="PPG-support@iqvia.com" />
    <add key="InfraEmail" value="PPGSSDataCenter@imshealth.com" />

    <add key="EmailToClient" value="false" />
    <add key="EmailToClient_TemplateID" value="1" />

    <!--Cachin Interval Keys-->
    <add key="CacheReloadTimeForTickets" value="10" />
    <add key="CacheReloadTime" value="30" />

    <!--Caching Keys-->
    <add key="GlobalCaching" value="true" />
    <add key="CallerCaching" value="true" />
    <add key="PayerCaching" value="true" />
    <add key="LicenseCaching" value="true" />
    <add key="TicketCaching" value="true" />

    <!--Notification Statuses-->
    <add key="Notification_Status_Type" value="Notifications" />
    <add key="Notification_Status_Pending" value="pending" />
    <add key="Notification_Status_Sent" value="sent" />
    <add key="SendNotificationtoClients" value="false" />


    <!--Default Keys-->
    <add key="DefaultCallerLicense" value="CWL001" />
    <add key="SystemName" value="IQServiceDesk" />
    <add key="ReportsPath" value="C:\tmp\Reports\" />


    <!--Ticket Statuses-->
    <add key="TicketStatusesType" value="Ticket Type" />
    <add key="IncidentStatus" value="Incident Status" />
    <add key="IncidentStatusResolvedByKBID" value="12" />
    <add key="IncidentStatusClosedID" value="14" />
    <add key="IncidentStatusCustomerInfo" value="37" />
    <add key="TicketTypeIncident" value="25" />
    <add key="TicketTypeInquiry" value="26" />
    <add key="TicketTypeProblem" value="41" />
    
    <add key="IncidentStatusL1ID" value="43"/>
    <add key="SupportTypeID" value="64"/>




    <!--L2  QUeue User-->
    <add key="L2QueueUserAssignee" value="7" />
    
    <!--SLA Processing-->
    <add key="SLAProcessingEnabled" value="true" />
    <add key="SLAorOLA" value="SLA" />
    <add key="IncludeNonWorkingHours" value="true" />
    <!--SLA Escalation Time in Minutes-->
    <add key="SLA_P0" value="60" />
    <add key="SLA_P1" value="300" />
    <add key="SLA_P2" value="1080" />
    <add key="SLA_P3" value="2700" />
    <add key="SLA_P4" value="3780" />
    <add key="OLA_L1_P0" value="5" />
    <add key="OLA_L1_P1" value="30" />
    <add key="OLA_L1_P2" value="120" />
    <add key="OLA_L1_P3" value="180" />
    <add key="OLA_L1_P4" value="360" />
    <add key="OLA_L2_P0" value="25" />
    <add key="OLA_L2_P1" value="90" />
    <add key="OLA_L2_P2" value="240" />
    <add key="OLA_L2_P3" value="360" />
    <add key="OLA_L2_P4" value="480" />
    <add key="OLA_L3_P0" value="25" />
    <add key="OLA_L3_P1" value="150" />
    <add key="OLA_L3_P2" value="480" />
    <add key="OLA_L3_P3" value="1440" />
    <add key="OLA_L3_P4" value="1800" />
  

    <!-- Application Property Item Type Category -->
    <add key="AppPropITypeCat" value="Application Property" />
    <!-- L2 Process Hide Resolved/Closed Fields -->
    <add key="REmoveStatusesforL2" value="true" />

    <!-- Resolution Keys -->
    <add key="ComponentTypeID" value="43" />
    <add key="VersionTypeID" value="44" />
    <add key="ModuleTypeID" value="45" />
    <add key="CategoryTypeID" value="46" />

    <!-- Jira URL-->
    <add key="JiraURL" value="http://jira.dimensions-healthcare.org:8080/" />
    <add key="JiraResource" value="rest/api/2/" />
    <add key="JiraUsername" value="IQServiceDesk" />
    <add key="JiraPassword" value="5-$BRgMV" />




  </appSettings>
</configuration>
